.login-page-container{
    
    border-radius: 10px;
}

.title{
        color: #808080;
}

@media (min-width: 600px) {
  .login-page-container-inner {
        margin-left: 35%;
        margin-right: 35%;
        width: 100%;
    }
    .title{
        margin-bottom: 50px;
        color: #404040;
    }
  
}
.login-email-div{
    width: 96%;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    margin-top: 20px;
    row-gap: 5px;
}
.email-input{
    width: 95%;
    border: none;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    border: none;
    outline: none;
    background: none;
}
.signInButton{
    border-radius: 8px;
    width: 97%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5433eb;
    color: white;
    font-family: GTStandard-M, sans-serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
}
.standard-margin{
    margin-left: 5px;
    margin-right: 5px;
}
.clickable{
    text-decoration: underline;
    cursor: pointer;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  max-height: 80vh;          /* limit height to viewport */
  overflow-y: auto;          /* enable vertical scrolling */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.container{
    height:500px;
    overflow: scroll;
}
.login{
    text-align: center;
}
.email-div{
    font-size: 20px;
}
.login-password-div{
    width: 96%;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    margin-top: 20px;
    row-gap: 5px;    
}
.create-account,.forgot-password{
    text-align: center;
}
.create-account-text,.forgot-password-text{
    color: black;
    font-size: larger;
}

