.footer-container {
    background-color: #F3F3F3;
    padding: 14px;
    text-align: center;
    font-family: Poppins, sans-serif;
    row-gap: 40px;
    display: grid;

}
.stay-in-touch,.customer-contact,.customer-services,.info,.social-media .title,.copyright {
    font: 12px Poppins, sans-serif;
    color: #5C5C5C;
    font-weight: 600;
    letter-spacing: .18em;

}
.customer-contact,.customer-services,.info,.stay-in-touch,.social-media {
    text-align: left;
    
}

ul  {
    list-style-type: none;
    padding-left: 0px;
}

li{
    font: 14px Poppins, sans-serif;
    color: #5C5C5CA6;
    margin-top: 16px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.email-input {
    flex: 1;
    padding: 10.4px 12.8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.subscribe-button {
    width:50%;
    margin-top: 8px;
    border: 1px solid #5c5c5c;
    color:#ffffff;
    background: #5c5c5c;
    padding: 10.4px 20px;
    margin-top: 30px;
}

.social-media ul li{
    display:inline;
    margin-right: 10px;
}


.customer-services ul li a{
    all: unset;
    text-decoration: none;
}

.customer-services ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.info ul li a{
    all: unset;
    text-decoration: none;
}

.info ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;
    cursor: pointer;
}



