<div class="carousel-container" [class.mobile]="isMobile">
  <div class="carousel-track" (scroll)="onScroll($event)" (mousedown)="onMouseDown($event)"
   (mouseup)="onMouseUp($event)" 
  (mousemove)="onMouseMove($event)">
    <div class="carousel-item" *ngFor="let img of images; let i = index" >
      <img [src]="img" alt="carousel image" draggable="false" class="carousel-image">

      <!-- Optional overlays -->
      <div class="overlay top-left" *ngIf="topLeft">{{ topLeft }}</div>
      <div class="overlay top-right" *ngIf="topRight">{{ topRight }}</div>
    </div>
  </div>

  <!-- Pagination dots -->
  

  
</div>
<div class="dots">
    <span *ngFor="let img of images; let i = index"
          [class.active]="i === currentIndex"></span>
  </div>
