.product{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.product-image-container{
    display: flex;
    height: 200px;
}

.product-image {
  width: 100%;
  object-fit: cover;
  /* transition: background-image 500ms; */
}

.add-to-cart-button{
    background-color: black;
    text-align: center;
    padding: 8px 16px;
    margin-top: 15px;
    border-radius: 4px;
}

.prices{
  display: flex;
  flex-direction: row;   /* side by side */
  justify-content: center;
  align-items: center;   /* align vertically */
  gap: 10px;
}

.product-name{
    text-align: center;
    font: 12px Poppins, sans-serif;
    margin-top: 5px;
    color: #5C5C5C;
}

.product-price {
  display: inline-block;   /* shrink to fit content */
  text-align: left;        /* prevent full-width centering */
  font: 12px Poppins, sans-serif;
  margin-top: 5px;
  color: #e32c2b;
}

.previous-price{
  text-decoration: line-through;
  display: inline-block;   /* shrink to fit content */
  text-align: left;        /* prevent full-width centering */
  font: 12px Poppins, sans-serif;
  margin-top: 5px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
    
}

.dot.selected {
  border: 2px solid #fff;   /* outer circle */
  padding: 2px;             /* space for border */
  box-sizing: border-box;
}

.dot[style*="background-color: black"] {
  background-color: black;
}

.dot[style*="background-color: black"].selected {
  border: 2px solid white;   /* white border for black dot */
}

.product-colors {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}