.input_container_2{
    margin-left: 50%;
}

.admin-container{
    min-height: fit-content;
    display: flex;
    
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e5e5e5;
}

main{
    display: flex;
    flex-direction: row;
}

.productsList{
    width: 300px;
}




.input_container {
  border: 1px solid black;
  width: fit-content;
  height: max-content;
  margin-bottom: 10px;
}


input[type=file]{
    display: block;
    color: #000;
}

input{
    margin-top: 5px;
}

select{
    margin-top: 5px;
}

.removeImage{
    background-image: url("/assets/cross-button.jpg");
    width:  20px;
    height: 20px;
    border: none;
}

.files-list{
    list-style: none;
}
ul#files-list.files-list{
 margin-left: -30px;
}

.file-selected{
    display: block;
}

.text_controls_container{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 20px;
}

@media screen and (max-width: 546px) {
  #sidebar{

        background: aliceblue;
        position: fixed;
        align-self: start;
        width:300px;
        transition: 300ms ease-in-out;
        overflow: hidden;
        left: -200px;
        top: 50px;
        z-index: 1000;
    }


    #sidebar.close{
        left:0px;
    }

    main{
        margin-left: 15%;
        margin-right: 5%;
        min-width:70%;  
        
    }

    .admin-container{
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
    }

}





