.product-details {
  padding: 10px;
  font-family: poppins, sans-serif; 
  color: #5C5C5CA6;
  font-weight: 600;
}
.product-name {
  font-size: 18px;
  color: #5C5C5C;
}
.original-price {
  text-decoration: line-through;
  margin-left: 10px;
  color: #5C5C5C;
  letter-spacing: 1px;
}
.discounted-price {
  letter-spacing: 1px;
  color: red;
  font-weight: bold;
}
.tax-included{
    font-size: 13px;
    color: #5C5C5CA6;
    margin-top: 10px;
    display: block;
}
.row{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.column{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.color-option {
  width: 70px;           /* smaller, consistent size */
  height: 70px;
  background-size: contain; /* scales image to fit */
  background-repeat: no-repeat;
  background-position: center; /* centers the image */
  border: 1px solid #ccc; /* optional: gives a frame */
  border-radius: 2px;     /* optional: rounded corners */
  cursor: pointer;
  margin-right: 2px;
}
.color-option.selected {
  border: 2px solid #5C5C5CA6;   /* outer circle */
  padding: 2px;             /* space for border */
  box-sizing: border-box;
}
.quantity-inner-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #5C5C5CA6;
  width: max-content;
}
.quantity-button{
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
  color: #5C5C5CA6;
  font-size: 18px;
  cursor: pointer;
  display: grid;
  place-items: center; /* Centers content both vertically and horizontally */
}
.quantity{
  border: none;
  width: 25px;
  height: 25px;
  place-items: center;
  font-size: 12px;
  display: grid;
  place-items: center; /* Centers content both vertically and horizontally */

}